<!-- <div class="container1">
    <div class="services">
        <h2> <strong>Service Tariff</strong></h2>
    </div>
    <hr>
    <form [formGroup]="form">
        <div class="fields">
            <div class="sub_field">
                <h4>Department</h4>
                <mat-form-field appearance="fill">
                    <mat-select formControlName="field1">
                        <mat-option value="" disabled>Select Department</mat-option>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sub_field">
                <h4>Service Category</h4>
                <mat-form-field appearance="fill">
                    <mat-select formControlName="field2">

                        <mat-option value="" disabled>Select Service Category</mat-option>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sub_field">
                <h4>Service</h4>
                <mat-form-field appearance="fill">
                    <mat-select formControlName="field3">
                        <mat-option value="" disabled>Select Service</mat-option>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sub_field">
                <h4>Service Code</h4>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="SER1000" formControlName="field4">
                </mat-form-field>
            </div>
            <div class="sub_field">
                <h4>Costing Method</h4>
                <mat-form-field appearance="fill">
                    <mat-select formControlName="field5">
                        <mat-option value="" disabled>Select Costing Method</mat-option>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sub_field">
                <h4>Service tariff - Regular</h4>
                <mat-form-field appearance="fill">
                    <input matInput placeholder="SER1000" formControlName="field6">
                </mat-form-field>
            </div>
            <div class="sub_field">
                <h4>Status</h4>
                <mat-form-field appearance="fill">
                    <mat-select formControlName="field7">
                        <mat-option value="" disabled>Select Status</mat-option>
                        <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="sub_field">
                <div class="my-input" [ngClass]="{'state-my-input--active': isFocused || someValue}">
                    <div class="my-input__wrapper">
                        <label class="my-input__label">Service Tariff - Regular</label>
                        <input type="text" class="my-input__input" (blur)="isFocused = false"
                            (focus)="isFocused = true">
                    </div>
                </div>
            </div>

        </div>
        <div class="sub_container">
            <h2> <strong>Room Wise Tariff</strong></h2>
            <table class="table table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Sr No.</th>
                        <th scope="col">Name</th>
                        <th scope="col">Degree</th>
                        <th scope="col">Select Gender</th>
                        <th scope="col">Switch</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr formArrayName="array" *ngFor="let formarray of this.form.get('array').controls; index as i">
                        <td style="display: flex; justify-content: center; margin-top: 30px;">{{i+1}}</td>
                        <td [formGroupName]="i">
                            <mat-form-field appearance="fill">
                                <mat-select formControlName="field11" (valueChange)="onselect($event, i)">
                                    <mat-option value="" disabled>Select Name</mat-option>
                                    <mat-option *ngFor="let opt of namearr" [value]="opt.name">
                                        {{opt.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td [formGroupName]="i">
                            <mat-form-field appearance="fill">
                                <mat-select formControlName="field12" (valueChange)="onDegreeselect($event, i)">
                                    <mat-option value="" disabled>Select Status</mat-option>
                                    <mat-option *ngFor="let opt of course" [value]="opt.courseName">
                                        {{opt.courseName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td [formGroupName]="i" style="display: flex; justify-content: center; margin-top: 20px;">
                            <mat-radio-group formControlName="field13">
                                <mat-radio-button value="male">Male</mat-radio-button>
                                <mat-radio-button value="female">Female</mat-radio-button>
                            </mat-radio-group>
                        </td>
                        <td [formGroupName]="i" class="text-center">
                            <div style="display: flex; justify-content: center; align-items: center; margin-top: 30px; gap: 5px;">
                                OFF
                                <mat-slide-toggle formControlName="toggleControl"></mat-slide-toggle>
                                ON
                            </div>
                        </td>
                        <td [formGroupName]="i" class="text-center">
                            <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
                                <button  class="btn btn-primary" *ngIf="formarray.value.field14 === 'on progress'">on progress</button>
                                <button  class="btn btn-danger" *ngIf="formarray.value.field14 === 'pending'">pending</button>
                                <button  class="btn btn-success" *ngIf="formarray.value.field14 === 'completed'">Completed</button>
                            </div>
                        </td>
                        <td>
                            <div style="display: flex; justify-content: center;align-items: center; gap: 15px; margin-top: 30px;"
                                class="action">
                                <i (click)="deleteField(i)" style="color: red;" class="fas fa-trash"></i>
                                <i (click)="addField(i)" style="color: blue;" class="fas fa-plus"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="btns">
            <button class="btn btn-success">
                <i (click)="SaveForm()" class="fas fa-save"> Save</i>
            </button>
            <button class="btn btn-secondary">
                <i (click)="clearForm()" class="fas fa-eraser"> Clear</i>
            </button>
        </div>
    </form>
</div> -->
<router-outlet></router-outlet>