.container1{
    padding: 25px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    margin: 20px;
}

.fields{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    gap: 30px;
    margin-top: 20px;
}
.fields1{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 100%;
  gap: 30px;
  margin-top: 20px;
}

.sub_container{
    padding: 25px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
}

.sub_field h4{
    color: rgb(0, 119, 255);
    font-weight: 500
}

tbody{
    background-color: rgb(245, 245, 245);
}

mat-form-field{
    width: 100%;
}
th{
    text-align: center;
}

.btns{
    display: flex;
    justify-content: end;
    gap: 5px;
    margin-top: 35px;
}

.my-input {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .my-input__wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .my-input__label {
    bottom: 14px;
    color: rgb(66, 66, 66);
    font-size: 16px;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  
  .my-input__input {
    border: none;
    border-bottom: 2px solid darkgray;
    font-size: 20px;
    line-height: 42px;
    color: rgb(61, 61, 61);
    transition: border-color 180ms linear;
  }
  
  .my-input__input:focus-visible{
    outline: none;
  }

  .my-input.state-my-input--active{
    border: none;
  }

  .state-my-input--active .my-input__wrapper .my-input__label {
      transform: translateY(-60px);
      font-size: 16px;
  }
  
  .state-my-input--active .my-input__label {
    color: rgb(0, 119, 255);
    font-weight: 500;
  }


  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{
    display: none;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
    --mdc-radio-disabled-unselected-icon-color: #000;
    --mdc-radio-unselected-focus-icon-color: #212121;
    --mdc-radio-unselected-hover-icon-color: #212121;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-selected-focus-icon-color: #2364be;
    --mdc-radio-selected-hover-icon-color: #2364be;
    --mdc-radio-selected-icon-color: #2364be;
    --mdc-radio-selected-pressed-icon-color: #2364be;
    --mat-mdc-radio-ripple-color: #000;
    --mat-mdc-radio-checked-ripple-color: #2364be;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

.cust{
  margin-top: 40px;
  /* background-color: white; */
}

